html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.MakePost input, .MakePost select, .MakePost textarea, .MakePost div {
    width: 100%;
}

.Mui-disabled {
    display: none!important;
}

.Button {
    margin-top: 35px!important;
    width: 255px;
    margin-left: auto!important;
    margin-right: auto!important;
    display: block!important;
}

.Button:hover {
    background-color: #000000 !important;
    color: #FFF;
}